.product-table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.name-image-col{
  display: flex;
  align-items: center;
  gap: 50px;
}

.product-custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-custom-table th,
.product-custom-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.product-custom-table tr:hover {
  background: #ccc;
}

.product-custom-table th {
  background-color: #7e3491;
  color: white;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.product-update-btn,
.product-delete-btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product-update-btn:hover,
.product-delete-btn:hover {
  opacity: 0.7;
}

.product-update-btn {
  background-color: #ffa500;
  color: white;
}

.product-delete-btn {
  background-color: #ff4d4d;
  color: white;
}
